.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-color: rgb(224, 224, 224);
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}



.publish {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.drop-div {
  display: flex;
  padding: 20px 0 20px 0;
  height: 183px;
  background-color: #F4F6F8;
  align-items: center;
}

.img_feature {
  width: 700px;
  height: 100%;
  margin-bottom: 10px;
}

.btn_cancel_features {
  margin-left: 130px !important;
  padding: 10px 5px;
  display: inline;
  background-color: tomato !important;
  color: #F4F6F8 !important;
  border-radius: 10px !important;

}